body {
    background-color: blue;

}

h1 {
    text-align: center;
    font-family: arial;
}

h2 {
    text-align: center;
    font-family: arial;
}

div#mainContent {
    background-color: white;
    margin:10%;
}
